/* --- Card --- */
.card {
    background: var(--bg-card);
    border-radius: 12px;
    padding: 25px;
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--border-color);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s, border-color 0.3s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-md);
    border-color: var(--border-hover);
}

.card h3 {
    margin-top: 0;
    color: var(--primary-color);
    font-size: 1.4rem;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 20px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.card li {
    margin-bottom: 10px;
}

.card li a {
    display: block;
    padding: 10px 15px;
    background-color: Var(--bg-body);
    border-radius: 8px;
    color: var(--text-muted);
    font-weight: 500;
    transition: all 0.2s;
}

.card li a:hover {
    background-color: var(--sidebar-hover-bg);
    color: var(--secondary-color);
    padding-left: 20px;
    /* Slide effect */
    text-decoration: none;
}